@font-face {
    font-family: 'Museo Slab 500';
    src: url('MuseoSlab-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gamja Flower';
    src: url('GamjaFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(15, 15, 15);
    background-image: url(https://img.itch.zone/aW1nLzQ2NjE2ODMucG5n/original/lwaBj1.png);
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    color: white;
    font-family: 'Museo Slab 500', Arial, sans-serif;
    font-family: 'Gamja Flower';
    text-shadow: 0px 3px 3px black;
    margin: 0;
}

a {
    color: #f486aa;
    text-decoration: underline;
    transition-duration: 0.25s;
}

a:hover {
    color: #de59ff;
}

header {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 30px;
    background: rgb(15, 39, 146);
    border-bottom: 4px ridge white;
}

header img {
    width: 60px;
}

@media (max-width: 450px) {
    header {
        font-size: 20px;
    }

    header img {
        width: 40px;
    }
}

.discord-link {
    margin-left: auto;
}

section {
    flex-grow: 1;

    margin: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.description {
    background: linear-gradient(135deg, rgb(1, 48, 255, 0.7), rgb(0, 17, 95, 0.8));
    border: 4px ridge white;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(5px);
}



.game-a-month-backdrop {
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(0, -50%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0), black 10%, black 80%, rgba(0, 0, 0, 0) 100%);
}

.game-a-month {
    font-size: 40px;
    color: white;
    background: linear-gradient(to bottom, rgb(71, 180, 255), rgb(80, 101, 255));
    background-clip: text;
    color: transparent;
    text-shadow: none;
    padding: 0px 30px;
    margin: 0;
}

@media (max-width: 450px) {
    .game-a-month {
        font-size: 20px;
    }
}

.game-title {
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 450px) {
    .game-title {
        font-size: 50px;
    }
}

.game-description {
    font-size: 30px;
}

@media (max-width: 450px) {
    .game-description {
        font-size: 20px;
    }
}

.links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.instructions {
    margin: 0;
    font-size: 40px;
    text-align: center;
}

@media (max-width: 450px) {
    .instructions {
        font-size: 30px;
    }
}

iframe {}

footer {
    height: 5vh;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(121, 121, 121, 0.3);
}